.pheat-cache/
.DS_Store
.coverage
.coverage.*
coverage.xml
htmlcov/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pytest_cache/
.pycache/
.tox/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
site/
.ruff_cache/
examples/notebook/executed/
examples/roundtrip/
examples/vendor/
